*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}
body{
    width: 100%;
}
.hero-box {
    height: 120px;
}

.skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    background: #0d6efd;
    color: white;
    padding: 8px 14px;
    z-index: 100;
}

a {
    text-decoration-style: none !important;
}

.carousel-item img{
    object-fit: cover;
    height: 40vh;
    width: 100vw;
}

/* Fondo transparente en los controles */
.carousel-control-prev,
.carousel-control-next {
    background-color: transparent !important;
    border: none !important;
}

/* Iconos negros */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1); /* Los iconos por defecto son blancos, esto los vuelve negros */
}

